:root{
    --Present100: = 0xFFffffff;
    --Preterite100: = 0xFFffffff;
    --Imperfect100: = 0xFFffffff;
    --Future100: = 0xFFffffff;
    --Conditional100: = 0xFFffffff;
    --Pluperfect100: = 0xFFffffff;
    --Imperative100: = 0xFFffffff;
    --NegativeImperative100: = 0xFFffffff;
    --PresentPerfect100: = 0xFFffffff;
    --PreteritePerfect100: = 0xFFffffff;
    --FuturePerfect100: = 0xFFffffff;
    --ConditionalPerfect100: = 0xFFffffff;

    --Present90: = 0xFF81f8d0;
    --Preterite90: = 0xFFcce5ff;
    --Imperfect90: = 0xFFffe08d;
    --Future90: = 0xFFffd7ef;
    --Conditional90: = 0xFFf9d8ff;
    --Pluperfect90: = 0xFFc0f190;
    --Imperative90: = 0xFFdbe1ff;
    --NegativeImperative90: = 0xFFffdad6;
    --PresentPerfect90: = 0xFFcee9dc;
    --PreteritePerfect90: = 0xFFd4e4f6;
    --FuturePerfect90: = 0xFFfadaec;
    --ConditionalPerfect90: = 0xFFf2dcf3;

    --Present80: = 0xFF64dbb4;
    --Preterite80: = 0xFFebc248;
    --Imperfect80: = 0xFFffd9e2;
    --Future80: = 0xFFffade5;
    --Conditional80: = 0xFFedb1ff;
    --Pluperfect80: = 0xFFa4d577;
    --Imperative80: = 0xFFb4c5ff;
    --NegativeImperative80: = 0xFFffb4ab;
    --PresentPerfect80: = 0xFFb2ccc0;
    --PreteritePerfect80: = 0xFFb8c8da;
    --FuturePerfect80: = 0xFFdcbed0;
    --ConditionalPerfect80: = 0xFFd5c0d7;

    --Present40: = 0xFF006c53;
    --Preterite40: = 0xFF006398;
    --Imperfect40: = 0xFF745b00;
    --Future40: = 0xFF953c81;
    --Conditional40: = 0xFF9a00cd;
    --Pluperfect40: = 0xFF406918;
    --Imperative40: = 0xFF1755d1;
    --NegativeImperative40: = 0xFFba1a1a;
    --PresentPerfect40: = 0xFF4c635a;
    --PreteritePerfect40: = 0xFF51606f;
    --FuturePerfect40: = 0xFF6f5767;
    --ConditionalPerfect40: = 0xFF69596d;

    --Present30: = 0xFF00513e;
    --Preterite30: = 0xFF004b74;
    --Imperfect30: = 0xFF584400;
    --Future30: = 0xFF792368;
    --Conditional30: = 0xFF75009d;
    --Pluperfect30: = 0xFF2a5000;
    --Imperative30: = 0xFF003ea7;
    --NegativeImperative30: = 0xFF93000a;
    --PresentPerfect30: = 0xFF344c42;
    --PreteritePerfect30: = 0xFF394857;
    --FuturePerfect30: = 0xFF56404f;
    --ConditionalPerfect30: = 0xFF514254;

    --Present20: = 0xFF00382a;
    --Preterite20: = 0xFF003352;
    --Imperfect20: = 0xFF3d2f00;
    --Future20: = 0xFF5d054f;
    --Conditional20: = 0xFF530070;
    --Pluperfect20: = 0xFF1b3700;
    --Imperative20: = 0xFF002a77;
    --NegativeImperative20: = 0xFF690005;
    --PresentPerfect20: = 0xFF1e352c;
    --PreteritePerfect20: = 0xFF23323f;
    --FuturePerfect20: = 0xFF3e2a38;
    --ConditionalPerfect20: = 0xFF392c3d;

    --Present10: = 0xFF002117;
    --Preterite10: = 0xFF001d31;
    --Imperfect10: = 0xFF241a00;
    --Future10: = 0xFF3a0031;
    --Conditional10: = 0xFF320046;
    --Pluperfect10: = 0xFF0d2000;
    --Imperative10: = 0xFF00174a;
    --NegativeImperative10: = 0xFF410002;
    --PresentPerfect10: = 0xFF082018;
    --PreteritePerfect10: = 0xFF001d31;
    --FuturePerfect10: = 0xFF281622;
    --ConditionalPerfect10: = 0xFF241727;

    --Purple80: = 0xFFD0BCFF;
    --PurpleGrey80: = 0xFFCCC2DC;
    --Pink80: = 0xFFEFB8C8;

    --Purple40: = 0xFF6650a4;
    --PurpleGrey40: = 0xFF625b71;
    --Pink40: = 0xFF7D5260;
    --DarkPink40: = 0xFF9d3c61;


    --Blue10: = 0xFF001f29;
    --DarkTeal10: = 0xFF081e27;
    --DarkPurple10: = 0xFF191836;
    --DarkPink10: = 0xFF3e001d;


    --Green404: = 0xFF76FFB5;
    --Red404: = 0xFFFF7676;
}